.panel {
    margin-left: 5vw;
    margin-right: 5vw;

    mat-expansion-panel-header {
        .title {
            align-items: center;
        }

        .description {
            flex-basis: 0;
            justify-content: flex-end;
            align-items: center;

            .description-text {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 30rem) {
    .panel mat-expansion-panel-header {
        .description {
            justify-content: space-between;

            .description-text {
                display: flex;
            }
        }

        .title {
            flex-basis: 0;
        }
    }
}

@media screen and (min-width: 40rem) {
    .panel {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media screen and (min-width: 60rem) {
    .panel {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (min-width: 80rem) {
    .panel {
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

@media screen and (min-width: 100rem) {
    .panel {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}