.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;

    app-travel-history-list {
        flex: 1 1 0;
    }
}

@media screen and (min-width: 40rem) {
    .container {
        margin: 1rem 5vw;
    }
}

@media screen and (min-width: 60rem) {
    .container {
        margin: 1rem 10vw;
    }
}

@media screen and (min-width: 80rem) {
    .container {
        margin: 1rem 15vw;
    }
}