<app-find-travel></app-find-travel>
<div *ngIf="travelsPage?.content?.length && travelsPage?.content!.length > 0"
     class="travel-list-container">
    <app-travel-list-card *ngFor="let travel of travelsPage?.content"
                          [travel]="travel"
                          [profile]="profile"></app-travel-list-card>

    <mat-paginator [length]="travelsPage?.totalElements"
                   [pageSize]="travelsPage?.size"
                   [pageSizeOptions]="pageOptions"
                   (page)="onPageChange($event)"
                   i18n-aria-label="@@paginator.aria-label"
                   aria-label="Select page">
    </mat-paginator>
</div>
<mat-spinner *ngIf="showSpinner"></mat-spinner>