<form [formGroup]="formGroup"
      class="field-container">
    <mat-form-field appearance="fill">
        <span *ngIf="prefix"
              matPrefix>{{prefix}} &nbsp;</span>
        <mat-label>{{label}}</mat-label>

        <input matInput
               #input
               type="text"
               [maxlength]="maxLength"
               [formControlName]="'field'"
               [appNumbersOnly]="numberOnly">
        <mat-error *ngIf="formGroup.get('field')?.hasError('required') && formGroup.get('field')?.touched"
                   i18n="@@profile.profile-ditable-field.html.requried-error">
            Field is required!
        </mat-error>
        <mat-error *ngIf="formGroup.get('field')?.hasError('email') && formGroup.get('field')?.touched"
                   i18n="@@profile.profile-ditable-field.html.email-error">
            Invalid Email!
        </mat-error>
        <mat-error *ngIf="formGroup.get('field')?.hasError('minlength') && formGroup.get('field')?.touched"
                   i18n="@@profile.profile-ditable-field.html.minlength-error">
            Minimum length {{minLength}} symbols!
        </mat-error>
    </mat-form-field>
</form>
<div class="actions">
    <button mat-icon-button
            *ngIf="!edit"
            (click)="startEdit(input)"
            color="primary"
            i18n-matTooltip="@@icon-button-edit"
            matTooltip="Edit"
            matTooltipPosition="after"
            [matTooltipShowDelay]="1000"
            aria-label="icon button used to edit the field">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="edit"
            [disabled]="formGroup?.invalid"
            (click)="saveEdit()"
            color="accent"
            i18n-matTooltip="@@icon-button-save"
            matTooltip="Save"
            matTooltipPosition="after"
            [matTooltipShowDelay]="1000"
            aria-label="icon button used to save the edited the field">
        <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button
            *ngIf="edit"
            (click)="cancelEdit()"
            color="warn"
            i18n-matTooltip="@@icon-button-cancel"
            matTooltip="Cancel"
            matTooltipPosition="after"
            [matTooltipShowDelay]="1000"
            aria-label="icon button used to cancel the editing of the field">
        <mat-icon>cancel</mat-icon>
    </button>
</div>