.dialog-title {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    mat-form-field {
        width: 90%;
    }

    button {
        margin: 1rem auto 0 auto;
        width: 90%;
        height: 3rem;
    }
}

@media screen and (min-width: 40rem) {
    .container {
        button {
            width: 25rem;
        }
    }
}