<div mat-dialog-title
     class="dialog-title"
     i18n="@@authentication.password-change.html.title">Change Password</div>

<form [formGroup]="formGroup"
      (ngSubmit)="changePassword(formGroup.value)"
      class="container">
    <mat-form-field appearance="fill">
        <mat-label i18n="@@authentication.password-change.html.old-passowrd-label">Current password</mat-label>
        <input [formControlName]="'oldPassword'"
               matInput
               type="password"
               placeholderText="Enter current password"
               i18n-placeholderText="@@authentication.password-change.html.old-passowrd-placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label i18n="@@authentication.password-change.html.password-label">New Password</mat-label>
        <input [formControlName]="'password'"
               matInput
               type="password"
               placeholderText="Enter new password"
               i18n-placeholderText="@@authentication.password-change.html.password-placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label i18n="@@authentication.password-change.html.password-confirmation">
            Confirm New Password</mat-label>
        <input [formControlName]="'passwordConfirmation'"
               matInput
               type="password"
               placeholderText="Confirm new password"
               i18n-placeholderText="@@authentication.password-change.html.password-confirmation-placeholder">
    </mat-form-field>

    <div *ngIf="formGroup.touched">
        <mat-error *ngIf="formGroup.get('oldPassword')?.hasError('required') && formGroup.get('oldPassword')?.touched"
                   i18n="@@authentication.password-change.html.old-password-required-error">
            Current Password is required!
        </mat-error>
        <mat-error *ngIf="formGroup.get('oldPassword')?.hasError('minlength') && !formGroup.get('oldPassword')?.hasError('required') && formGroup.get('oldPassword')?.touched"
                   i18n="@@authentication.password-change.html.old-password-min-length-error">
            Current Password should be at least 8 characters long!
        </mat-error>
        <mat-error *ngIf="formGroup.get('oldPassword')?.hasError('maxlength') && formGroup.get('oldPassword')?.touched"
                   i18n="@@authentication.password-change.html.old-password-max-length-error">
            Current Password should be a maximum of 128 characters!
        </mat-error>

        <mat-error *ngIf="formGroup.get('oldPassword')?.getError('authError') === 1"
                   i18n="@@authentication.password-change.html.wrong-credentials-error">
            Wrong password!
        </mat-error>
        <mat-error *ngIf="formGroup.get('oldPassword')?.getError('authError') === 2"
                   i18n="@@authentication.password-change.html.server-error">
            Unexpected error!
        </mat-error>

        <mat-error *ngIf="formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-required-error">
            New Password is required!
        </mat-error>
        <mat-error *ngIf="formGroup.get('password')?.hasError('minlength') && !formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-min-length-error">
            New Password should be at least 8 characters long!
        </mat-error>
        <mat-error *ngIf="formGroup.get('password')?.hasError('maxlength') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-max-length-error">
            New Password should be a maximum of 128 symbols!
        </mat-error>
        <mat-error *ngIf="formGroup.get('password')?.hasError('nolower') && !formGroup.get('password')?.hasError('required') && !formGroup.get('password')?.hasError('minlength') && !formGroup.get('password')?.hasError('maxlength') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-no-lower-error">
            New Password should contain at least one lower case character!
        </mat-error>
        <mat-error *ngIf="formGroup.get('password')?.hasError('nocapital') && !formGroup.get('password')?.hasError('required') && !formGroup.get('password')?.hasError('minlength') && !formGroup.get('password')?.hasError('maxlength') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-no-capital-error">
            New Password should contain at least one upper case character!
        </mat-error>
        <mat-error *ngIf="formGroup.get('password')?.hasError('nonumber') && !formGroup.get('password')?.hasError('required') && !formGroup.get('password')?.hasError('minlength') && !formGroup.get('password')?.hasError('maxlength') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-no-number-error">
            New Password should contain at least one number!
        </mat-error>
        <mat-error *ngIf="formGroup.get('password')?.hasError('nospecial') && !formGroup.get('password')?.hasError('required') && !formGroup.get('password')?.hasError('minlength') && !formGroup.get('password')?.hasError('maxlength') && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.password-no-special-error">
            New Password should contain at least one special character!
        </mat-error>

        <mat-error *ngIf="formGroup.get('passwordConfirmation')?.hasError('required') && formGroup.get('passwordConfirmation')?.touched"
                   i18n="@@authentication.password-change.html.password-confirmation-required-error">
            New Password confirmation is required!
        </mat-error>

        <mat-error *ngIf="formGroup.hasError('notmatched') && !formGroup.get('password')?.invalid && !formGroup.get('passwordConfirmation')?.invalid && formGroup.get('passwordConfirmation')?.touched"
                   i18n="@@authentication.password-change.html.password-confirmation-missmatch-error">
            New Password confirmation does not match new password!
        </mat-error>

        <mat-error *ngIf="formGroup.hasError('newMatching') && !formGroup.get('oldPassword')?.invalid && !formGroup.get('password')?.invalid && formGroup.get('password')?.touched"
                   i18n="@@authentication.password-change.html.old-password-match-error">
            Old Password matches new password!
        </mat-error>
    </div>
    <button [disabled]="formGroup?.invalid"
            mat-raised-button
            color="accent"
            i18n="@@authentication.password-change.html.change-button">Change</button>
</form>