<div *ngIf="travel"
     class="list-container bg-color-surface">
    <div class="row">
        <mat-icon color="accent">directions_car</mat-icon>
        {{travel?.driver?.firstName}} {{travel?.driver?.lastName}}
    </div>
    <div class="row">
        <mat-icon color="accent">diversity_3</mat-icon>
        {{travel?.passengers?.length}}/{{travel?.vehicle?.seats}}
    </div>
    <div class="row destinations">
        {{travel!.from | locationTranslate}}
        <mat-icon color="accent">east</mat-icon>
        {{travel!.to | locationTranslate}}
    </div>
    <div class="row">
        <mat-icon color="accent">schedule</mat-icon>
        {{formatDate(travel!.departureDate)}}
    </div>
    <div class="row status">
        <mat-icon *ngIf="statusIcon"
                  color="accent">{{statusIcon}}</mat-icon>
        {{status}}
    </div>
    <div class="row actions">
        <button *ngIf="role === Role.NONE && travel!.vehicle!.seats > travel!.passengers!.length"
                mat-raised-button
                color="accent"
                (click)="requestJoinTravel()"
                i18n="@@button.join">Join</button>
        <button *ngIf="role === Role.APPLICANT"
                mat-raised-button
                color="accent"
                (click)="cancelJoinRequest()"
                i18n="@@button.cancel">Cancel</button>
        <button *ngIf="role === Role.PASSENGER"
                mat-raised-button
                color="accent"
                (click)="leaveTravel()"
                i18n="@@button.leave">Leave</button>
        <button mat-raised-button
                color="primary"
                (click)="openTravelDetails()"
                i18n="@@button.details">Details</button>
    </div>
</div>