<div class="title"
     mat-dialog-title
     i18n="@@authentication.register-driver.html.title">Register as driver</div>
<div class="content-container"
     mat-dialog-content>
    <h3 i18n="@@authentication.register-driver.html.header-text">
        Please enter the data for the vehicle you plan on driving.
    </h3>
    <form [formGroup]="formGroup"
          (ngSubmit)="registerAsDriver(formGroup.value)">
        <mat-form-field appearance="fill">
            <mat-label i18n="@@authentication.register-driver.html.make">Make</mat-label>
            <input [formControlName]="'make'"
                   matInput
                   placeholderText="Enter the make of your vehicle"
                   i18n-placeholderText="@@authentication.register-driver.html.make-placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label i18n="@@authentication.register-driver.html.model">Model</mat-label>
            <input [formControlName]="'model'"
                   matInput
                   placeholderText="Enter the model of your vehicle"
                   i18n-placeholderText="@@authentication.register-driver.html.model-placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label i18n="@@authentication.register-driver.html.seats">Seats</mat-label>
            <input [formControlName]="'seats'"
                   [maxlength]="2"
                   matInput
                   placeholderText="Enter the number of passenger seats of your vehicle"
                   i18n-placeholderText="@@authentication.register-driver.html.seats-placeholder"
                   appNumbersOnly>
        </mat-form-field>
        <div *ngIf="formGroup.touched">
            <mat-error *ngIf="formGroup.get('make')?.hasError('required') && formGroup.get('make')?.touched"
                       i18n="@@authentication.register-driver.html.make-required-error">
                The make is required!
            </mat-error>
            <mat-error *ngIf="formGroup.get('make')?.hasError('maxlength') && formGroup.get('make')?.touched"
                       i18n="@@authentication.register-driver.html.make-max-length-error">
                The make name should be less than or equal to 50 symbols!
            </mat-error>
            <mat-error *ngIf="formGroup.get('model')?.hasError('required') && formGroup.get('model')?.touched"
                       i18n="@@authentication.register-driver.html.model-required-error">
                The model is required!
            </mat-error>
            <mat-error *ngIf="formGroup.get('model')?.hasError('maxlength') && formGroup.get('model')?.touched"
                       i18n="@@authentication.register-driver.html.model-max-length-error">
                The model name should be less than or equal to 100 symbols!
            </mat-error>
            <mat-error *ngIf="formGroup.get('seats')?.hasError('required') && formGroup.get('seats')?.touched"
                       i18n="@@authentication.register-driver.html.seats-required-error">
                The number of passenger seats is required!
            </mat-error>
            <mat-error *ngIf="formGroup.get('seats')?.hasError('maxlength') && formGroup.get('seats')?.touched"
                       i18n="@@authentication.register-driver.html.seats-max-length-error">
                The seats field should be no longer than 2 symbols!
            </mat-error>
            <mat-error *ngIf="formGroup.hasError('authError')"
                       i18n="@@authentication.login.html.server-error">
                Unexpected error!
            </mat-error>
        </div>
        <button [disabled]="formGroup?.invalid"
                mat-raised-button
                color="accent"
                i18n="@@button.confirm">Confirm</button>
    </form>
</div>